<a href="https://colab.research.google.com/github/1234-ad/1234-ad/blob/main/Task_1_Data_Decoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# TASK 1 - DATA DECODER

# STEP 1: Import Libraries
import pandas as pd

# STEP 2: Load Dataset
# Example: Titanic dataset from raw GitHub
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# STEP 3: Display First 10 Rows
print("First 10 Rows:")
print(df.head(10))

# STEP 4: List All Columns & Data Types
print("\nColumns & Data Types:")
print(df.dtypes)

# STEP 5: Count Missing Values in Each Column
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# STEP 6: Basic Stats for 2 Numeric Columns (e.g., 'Age' & 'Fare')
print("\nBasic Stats for 'Age':")
print(f"Mean: {df['Age'].mean()}")
print(f"Median: {df['Age'].median()}")
print(f"Min: {df['Age'].min()}")
print(f"Max: {df['Age'].max()}")

print("\nBasic Stats for 'Fare':")
print(f"Mean: {df['Fare'].mean()}")
print(f"Median: {df['Fare'].median()}")
print(f"Min: {df['Fare'].min()}")
print(f"Max: {df['Fare'].max()}")

First 10 Rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

Columns & Data Types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Missing Values in Each Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Basic Stats for 'Age':
Mean: 29.69911764705882
Median: 28.0
Min: 0.42
Max: 80.0

Basic Stats for 'Fare':
Mean: 32.204207968574636
Median: 14.4542
Min: 0.0
Max: 512.3292